# Creacion de las Variables 'r', 'f' y 'm'

In [1]:
%load_ext watermark
%watermark

2019-07-12T18:17:13+02:00

CPython 3.6.8
IPython 6.2.1

compiler   : GCC 7.3.0
system     : Linux
release    : 4.13.0-46-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 2
interpreter: 64bit

## Carga de los datos

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df = pd.read_pickle('../Data/01.-Carga-de-Datos-y-Exploracion.pkl')

df.head()

  InvoiceNo InvoiceDate  CustomerID   Total
0    536365  2010-12-01     17850.0  139.12
1    536368  2010-12-01     13047.0   70.05
2    536369  2010-12-01     13047.0   17.85
3    536370  2010-12-01     12583.0  855.86
4    536523  2010-12-01     12868.0  203.30

## Notas

* Quedarme con el último año.
* Establecer el día del estudio (último día + 1).
* Crear el DataFrame con las variables r, f y m.

## Recency

## Frequency

## Monetary